@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html, body {
  overflow: hidden;
  height: 100%;
}

.info-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 60px;
  height: 60px;

  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);}
  100% { transform: scale(1); }
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white; 
  min-height: 100vh;
  overflow: hidden;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  overflow: hidden;
}

.main-content {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.start-button {
  background-color: #7e7e7e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms ease;
  
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 700;
  
  &:hover {
    background-color: #afafaf;
  }

  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
}


